<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ilnur">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:name=".Reshuege"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:largeHeap="true"
        android:supportsRtl="true"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.reshuege.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />



        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ilnur.MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <service android:name=".service.DownloadForeground">
        </service>

        <service android:name=".DownloadTasks.DownloadIntService" />
        <!--<receiver android:name=".Adapters.SubjAdapter$BroadIntReceiver" ></receiver>-->
        <activity
            android:name="com.ilnur.TestsActivity"
            android:label="@string/title_activity_tests"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name="com.ilnur.ResultsActivity"
            android:label="@string/title_activity_results"
            android:theme="@style/AppTheme.Login" />
        <activity android:name="com.ilnur.ShowTheoryActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name="com.ilnur.SearchActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.ilnur.SearchResultActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.ilnur.SearchTaskResult"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.ilnur.LoginActivity"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:theme="@style/AppTheme.Login" >
        </activity>
        <activity android:name="com.ilnur.StatisticsActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.ilnur.AboutExamActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.ilnur.SearchTypeActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.ilnur.TeacherActivity1"
            android:theme="@style/AppTheme.Login"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:theme="@style/AppTheme"
            android:name="com.ilnur.SignUpActivity"
            />
        <activity android:name=".TeacherActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
    </application>

</manifest>